table {
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice {
    padding: 0;
}

#head {
    padding-top: 25px;
    padding-bottom: 5px;
    
    height: 80px;
}
#headcontain {
    height: 60px;
    
}

#siteimg {
    float: left;
    margin-left: 20px;
}

#explain {
    float: left;
    margin-left: 100px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 15px;
}
#cnt{
	font-weight: bold;
    font-size: 17px;
}

#board-search .search-window {
    padding: 10px;
    background-color:#20C0B7;
}

#type,#career {
	border-radius: 5px;
	width: 100px;
	height: 30px;
}
#search-btn{
	height: 30px;
	border-radius: 5px;
}

#board-search .search-window .search-wrap {
    position: relative;
    /*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}

#board-search .search-window .search-wrap {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
}

#board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
}

#board-search .search-window .search-wrap{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
}

.board-table {
    font-size: 15px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-table thead{
    border-bottom: 1px solid gray;
}

.board-table tbody tr {
    border-bottom: 1px solid gray;
}

.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 100px;
    text-align: center;
}
.board-table .th-title {
    width: 500px;
    text-align: center;
}
.board-table .th-name {
    width: 200px;
    text-align: center;
}
.board-table .th-job {
    width: 150px;
    text-align: center;
}
.board-table .th-career {
    width: 100px;
    text-align: center;
}
.board-table .th-salary {
    width: 100px;
    text-align: center;
}
.board-table .th-need_amt {
    width: 100px;
    text-align: center;
}


.board-table th,
.board-table td {
    padding: 10px 0;
}

.board-table tbody td {
    
    text-align: center;
}

.board-table tbody th {
    
    text-align: center;
}

.board-table tbody th p {
    display: none;
}
#blank{
    text-align: center;
}

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}