/* 구직글 */      
*{
    margin: 0;
    padding: 0; 
}
html,body {
    height: 100%;
}
table{
	height: 40px;
	padding: 10px;
	border-collapse: collapse
}
#articlejobtable{
	border: solid black;
}
#headbox{
    position: relative;
    bottom: 20px;
    background-color: rgb(206, 206, 206);
    height: 1px;
}
a{
    text-decoration-line: none;
    color: rgb(226, 226, 226);
}
#body{
    width: 800px;
    margin: auto;
}
.emsp{
	position: relative;
	left: 20px;
}
#jobname{
    font-size: 20px;
    font-weight: bold;
}
#jobcontent{
    font-size: 15px;
}
#jobtitle{
    font-size: 40px;
    font-weight: bold;
}
#titlebox{
	position: relative;
	width: 100%;
	background-color: rgb(206, 206, 206);
    height: 1px;
}
#bodybox{
    position: relative;
    width: 800px;
    margin: auto;
    background-color: rgb(206, 206, 206);
    height: 1px;
}
#br{
	height: 10px;
}
th{
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    background-color: rgb(206, 206, 206);
}
p{
	font-size: 25px;
    font-weight: bold;
    width: 250px;
}
.articletable{
	padding: 5px;
	border-width: 1px;
}
.articletable:first-child, .articletable:last-child{
	border: 1px solid rgb(192, 192, 192) ;
	border-left: none;
	border-right: none;
}
td{
    width: 550px;
    font-size: 20px;
    border-width: 1px;
}
#stackhead{
    font-size: 20px;
    font-weight: bold;
}
#stack{
    font-size: 15px;
    background-color: rgb(194, 194, 194);
    width: auto;
    border-radius: 5px;
}
#selectvalue{
    font-size: 20px;
    width: auto;
    border-radius: 10px;
}
#career{
    font-size: 20px;
    width: auto;
    border-radius: 10px;
}
#logininfobody{
    width: 800px;
    margin: auto;
}
#logininfodiv{
	position: relative;
    height: 300px;
}
#boxhead{
    font-size: 30px;
    font-weight: bold;
    width: 800px;
    height: 70px;
    /* border: 1px solid black; */
}
#boxbody{
    width: 450px;
    /* border: 1px solid blue; */
    height: 250px;
}
#boxside{
    position: relative;
    left: 450px;
    bottom: 282px;
    width: 250px;
    /* border: 1px solid red; */
    height: 250px;
}
#logininfoname{
    font-size: 25px;
    font-weight: bold;
}
#logininfotext{
    font-size: 15px;
    
}
#logininfohead{
    font-size: 20px;
    background-color: white;
}
#logininfobody{
    font-size: 15px;
}
#otherbox{
    width: 250px;
    height: 50px;
}
#photo{
    position: relative;
    left: 30px;
    width: 200px;
    height: 150px;
    margin: auto;
}
#logininfoceo{
    font-size: 15px;
    font-weight: bold;
}
#logininfourl{
	position: relative;
	bottom: 10px;
    font-size: 13px;
}
#joinbox{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(196, 196, 196);
    width: 100%;
    height: 100px;
}
#join{
    position: fixed;
    left: 550px;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
}
#buttonjoin{
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 550px;
    background-color:#20C0B7;
    cursor: pointer;
    border: 0;
}
#buttonjoin:hover{
    font-size: 30px;
    color:#20C0B7;
    background-color: orange;
}
a:hover{
    color: orange;
}
#line{
    color: rgb(226, 226, 226);
}
#box{
	position: relative;
	height: 30px;
}
#stackhead{
	background-color: white;
}
#footbox{
	position: relative;
	height: 70px;
}
#job_explain{
	margin-left: 2em;
	margin-top: 1em;
   height: 100%;
   font-size: 20px;
}
#qualify{
	margin-left: 2em;
	margin-top: 1em;
   height: 100%;
   font-size: 20px;
}