@charset "utf-8";

.jops_title {
    color: black;
    margin-top: 2em;
}

.job_item .bottom p{
    color: black;
    display: inline-block;
    margin-top: 0;
}

.job_item .title{
    color:black;
    margin-top: 0;
    margin-bottom: 0.25em;
}
 
.job_item .company{
    color:#343f57;
    margin-bottom: 0;
}

.job_item .day{
    color:#343f57;
}