.jobs_tabel{
    list-style-type : none;
    padding-left: 0;
}

.jobs_tabel .job_item{
    border-bottom: 1px solid #343f57;;
}

.jobs_tabel .job_item .jobs_tabel_item {
    display: flex;
    justify-content: space-between
}