nav{
   position: sticky;
   width: 100%;
   top: 0;

   background-color: white;
   border-bottom: 1px solid #eff5ff;
   box-shadow: 0 5px 5px -5px #333;
   padding-top: 1px;
}

nav ul{
   display: flex;
   list-style-type: none;
   padding: 0;
}

.menu{
   margin-right: 1.2rem;
}

.menu > .sub_meum{
   display: none;

   position: absolute;
   top: 5rem;
   left: 0;
   width: 100%;

   background-color: white;
   box-shadow: 0 5px 5px -5px #333;
   padding-bottom: 2rem;
}

.menu:hover > .sub_meum{
   display: block;
}

.menu .sub_meum .container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.menu .sub_meum .local ul{
   display: grid;
   grid-template-columns: 2em 2em 2em;
   grid-gap: 2em;
}

.menu .sub_meum .member ul{
   display: grid;
   grid-template-columns: 2em 2em;
   grid-gap: 2em;
}