@charset "UTF-8";

.skill .result:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* 상단 바*/
.resumeHeader {
    background-color: #20C0B7; /* 배경 색상 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    padding: 10px 0; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.container {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 0 20px; /* 내부 여백 설정 */
}

.logo {
    text-decoration: none;
    color: #20C0B7; /* 원하는 색상 코드를 지정 */
}

.logo img {
    max-width: 100%; /* 로고 이미지 최대 너비 설정 */
    height: auto; /* 높이 자동 조절 */
}

.linkLogo {
    color: #fff; /* 로고 텍스트 색상 설정 */
    font-weight: bold; /* 글꼴 굵기 설정 */
    font-size: 24px; /* 글꼴 크기 설정 */
}

/* 이력서 상단 부분 스타일링 */
.top {
    background-color: #FFFFFF; /* 원하는 배경 색상으로 변경 */
    padding: 20px;
}

/* h1 요소 스타일링 */
.top h1.username {
    color: #333; /* 텍스트 색상을 원하는 색상으로 변경 */
    font-size: 24px; /* 텍스트 크기를 원하는 크기로 변경 */
}

/* h3 요소 스타일링 */
.top h3 {
    margin-top: 10px; /* h3 요소 위 여백 조정 */
}

/* p 요소 스타일링 */
.top p.txt {
    color: #333; /* 텍스트 색상을 원하는 색상으로 변경 */
}

/* ul 요소 스타일링 */
.top ul.userinfo {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* ul 요소 주변 여백 조정 */
}

/* li 요소 스타일링 */
.top ul.userinfo li {
    color: #666; /* 텍스트 색상을 원하는 색상으로 변경 */
    margin: 5px 0; /* li 요소 위아래 여백 조정 */
}

/* 버튼 스타일링 */
.BtnType {
    background-color: #20C0B7;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* 필드셋 스타일링 */
fieldset {
    border: 1px solid #007bff;
    padding: 10px;
    margin-bottom: 10px;
    height: 230px;
    overflow: auto;
}

/* 이력서 제목 */
#titleField {
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 학력 */
#schoolField {
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 포트폴리오 */
#portfolioField {
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 경력 */
#regField {
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 자격증 */
#liecenceField {
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 자기소개*/
#selfField{
    background-color: #f2f2f2; /* 배경색 지정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 입력 필드 스타일링 */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
}

/* 버튼 스타일링 */
button {
    background-color: #20C0B7;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.resumeHeader .container {
    background-color: #B2CCFF; /* 원하는 색상으로 변경 */
}

.resume_snb {
    background-color: #B7F0B1;
    border: 1px solid #007bff;
    padding: 5px; /* 내부 여백을 크게 조정 */
    width: 200px; /* 원하는 너비로 조정 */
    height: 400px; /* 원하는 높이로 조정 */
    position: fixed;
    right: 20px;
    top: 0;
}

#submit {
    background-color: #20C0B7; /* 배경색상 */
    color: #fff; /* 글자색상 */
    padding: 10px 20px; /* 내부 여백 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 만듦 */
    cursor: pointer; /* 커서 스타일 변경 */
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 글자 굵게 */
}

#submit:hover {
    background-color: #0056b3; /* 마우스 오버시 배경색상 변경 */
}



